<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:sharding="http://shardingjdbc.io/schema/shardingjdbc/sharding"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://shardingjdbc.io/schema/shardingjdbc/sharding
                        http://shardingjdbc.io/schema/shardingjdbc/sharding/sharding.xsd">
    <context:component-scan base-package="com.mo.test" />

    <!--<context:property-placeholder location="classpath:conf/rdb/conf.properties" ignore-unresolvable="true" />-->
    <context:property-placeholder location="classpath:spring" ignore-unresolvable="true" />



    <bean id="tx_order_master_0" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.226.237:3306/tx_order_master_0"/>
        <property name="username" value="root"/>
        <property name="password" value="password"/>
    </bean>

    <bean id="tx_order_master_1" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.226.237:3306/tx_order_master_1"/>
        <property name="username" value="root"/>
        <property name="password" value="password"/>
    </bean>


    <sharding:standard-strategy id="databaseShardingStrategy" sharding-column="sharding_key" precise-algorithm-class="com.mo.test.sharding.PreciseDatabaseShardingAlgorithm"/>
    <sharding:standard-strategy id="tableShardingStrategy" sharding-column="sharding_key" precise-algorithm-class="com.mo.test.sharding.PreciseTableShardingAlgorithm"/>


    <sharding:data-source id="shardingDataSource">
        <sharding:sharding-rule data-source-names="tx_order_master_0,tx_order_master_1" default-data-source-name="tx_order_master_0">
            <sharding:table-rules>
                <sharding:table-rule logic-table="tx_order" actual-data-nodes="tx_order_master_${0..1}.tx_order_${0..1}" database-strategy-ref="databaseShardingStrategy"  table-strategy-ref="tableShardingStrategy" />
                <sharding:table-rule logic-table="tx_order_item" actual-data-nodes="tx_order_master_${0..1}.tx_order_item_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_customer_service" actual-data-nodes="tx_order_master_${0..1}.tx_customer_service_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_item_payment" actual-data-nodes="tx_order_master_${0..1}.tx_item_payment_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_item_promotion" actual-data-nodes="tx_order_master_${0..1}.tx_item_promotion_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_operation_history" actual-data-nodes="tx_order_master_${0..1}.tx_operation_history_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_order_addition" actual-data-nodes="tx_order_master_${0..1}.tx_order_addition_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_order_extend" actual-data-nodes="tx_order_master_${0..1}.tx_order_extend_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_order_reviewed" actual-data-nodes="tx_order_master_${0..1}.tx_order_reviewed_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_order_status_version" actual-data-nodes="tx_order_master_${0..1}.tx_order_status_version_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_order_worker" actual-data-nodes="tx_order_master_${0..1}.tx_order_worker_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_payment_line" actual-data-nodes="tx_order_master_${0..1}.tx_payment_line_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_payment_line_detail" actual-data-nodes="tx_order_master_${0..1}.tx_payment_line_detail_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_promotion" actual-data-nodes="tx_order_master_${0..1}.tx_promotion_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_promotion_job" actual-data-nodes="tx_order_master_${0..1}.tx_promotion_job_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_refund_bill" actual-data-nodes="tx_order_master_${0..1}.tx_refund_bill_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_attachment" actual-data-nodes="tx_order_master_${0..1}.tx_attachment_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />

                <sharding:table-rule logic-table="tx_cancel_payment_log" actual-data-nodes="tx_order_master_0.t_order_item_" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_config" actual-data-nodes="tx_order_master_0.tx_config" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_return_detail" actual-data-nodes="tx_order_master_0.t_order_item_" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_return_info" actual-data-nodes="tx_order_master_0.tx_return_detail" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_item_attributes" actual-data-nodes="tx_order_master_0.tx_item_attributes" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
                <sharding:table-rule logic-table="tx_customer_service_status_version" actual-data-nodes="tx_order_master_0.tx_customer_service_status_version" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="id" />
            </sharding:table-rules>
            <sharding:binding-table-rules>
                <sharding:binding-table-rule logic-tables="t_order, t_order_item" />
            </sharding:binding-table-rules>
        </sharding:sharding-rule>
        <sharding:props>
            <prop key="sql.show">true</prop>
        </sharding:props>
    </sharding:data-source>


    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="shardingDataSource" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="shardingDataSource"/>
        <property name="mapperLocations" value="classpath*:mybatis/*.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mo.test"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>
